@CHARSET "UTF-8";

/* --
div#container div.topnav {
	background-color: #ffec61;
	border-top: 0px;
	borger-bottom: 2px;
	border-left: 2px;
	border-right: 2px;
	border-style:solid;
	border-color:#000000;
	color: #333333;
  font-family: 'Comic Sans MS',sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;

}

div#container div.topnav ul li {
	clear: both;
	display:inline;
	list-style-type:none;
	margin:0;
	padding:0;
}

div#container div.topnav li {
	float:left;
}

div#container div.topnav ul {
	clear: both;
	display:inline;
	float:left;


}
*/


/* footer */


/* */